@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121d17;
  color: #f7f5f0;
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
